.idea
*.iml

target

.gradle
.gradletasknamecache
gradle-app.setting
build
out

.github-credentials
.choco-apikey

distribution/chocolatey/tools/*.zip
distribution/chocolatey/tools/VERIFICATION.txt
*.nupkg
*.nuspec