[gerrit]
    basePath = git
    ui = POLYGERRIT
    canonicalWebUrl = http://localhost:${httpPort}/
    gitHttpUrl = http://localhost:${httpPort}/
[repository "*"]
    ownerGroup = Registered Users
    defaultSubmitType = REBASE_ALWAYS
[database]
    type = H2
[plugins]
    allowRemoteAdmin = true
[index]
    type = LUCENE
[auth]
    type = LDAP
    gitBasicAuth = true
    gitBasicAuthPolicy = HTTP_LDAP
[ldap]
    server = ldap://gerrit-ldap
    username = cn=admin,dc=planetexpress,dc=com
    password = GoodNewsEveryone
    accountBase = ou=people,dc=planetexpress,dc=com
    accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
    accountFullName = displayName
    accountEmailAddress = mail
[httpd]
  	listenUrl = http://*:8080/
[sshd]
    listenAddress = off
[cache]
    directory = cache