[gerrit]
    basePath = git
[database]
    type = H2
[sshd]
    listenAddress = off
[auth]
    type = ldap
    gitBasicAuth = true
    gitBasicAuthPolicy = HTTP_LDAP
[ldap]
    server = ldap://ldap
    username = cn=admin,dc=planetexpress,dc=com
    password = GoodNewsEveryone
    accountBase = ou=people,dc=planetexpress,dc=com
    accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
    accountFullName = displayName
    accountEmailAddress = mail